@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
  src: url("../font/AtkinsonHyperlegible-Bold.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  src: url("../font/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  font-style: italic;
  src: local(""), url("../font/AtkinsonHyperlegible-Italic.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
  font-style: italic;
  src: url("../font/AtkinsonHyperlegible-BoldItalic.ttf");
}
